<!-- HIT template: ModerationOfAnImage-v3.0 --><!-- Bootstrap v3.0.3 --><!-- Please note that Bootstrap CSS/JS and JQuery are 3rd party libraries that may update their url/code at any time. Amazon Mechanical Turk (MTurk) is including these libraries as a default option for you, but is not responsible for any changes to the external libraries -->
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" rel="stylesheet" /><!-- The following snippet enables the 'responsive' behavior on smaller screens -->
<meta content="width=device-width,initial-scale=1" name="viewport" />
<section class="container" id="ModerationOfAnImage">
<div class="row">
<div class="col-xs-12 col-md-12"><!-- Instructions -->
<div class="panel panel-primary"><!-- WARNING: the ids "collapseTrigger" and "instructionBody" are being used to enable expand/collapse feature --><a class="panel-heading" href="javascript:void(0);" id="collapseTrigger"><span class="collapse-text"><b>Choose the better sentence&nbsp;</b>(Click to expand)</span> </a>
<div class="panel-body" id="instructionBody">
<p>Instructions:</p>

<ol>
	<li>Read the claim.</li>
	<li>Read option A and option B.</li>
	<li>Make sure you understand all three sentences (the claim and the options).</li>
	<li>Choose which of 2&nbsp;options better evidence for&nbsp;the claim.</li>
	<li>
	<p>If both sentences clearly don&#39;t support the sentence at all, then choose either.</p>
	</li>
</ol>

<p>Guidelines for selecting a sentence that provides evidence, in order of priority:</p>

<ol>
	<li>A sentence that directly refers to what is being claimed.</li>
	<li>A&nbsp;sentence that provides evidence for part of the claim.</li>
	<li>A sentence that talks about the same topic.</li>
	<li>A sentence that has similar elements, that are related to the topic of the claim sentence.</li>
</ol>
</div>
</div>
</div>
<!-- End Instructions --></div>
<!-- Image Moderation Layout -->

<section>
<h4>Claim:</h4>

<div class="well">
<p>${claim}</p>
</div>
</section>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12">
<div class="form-group"><label class="btn btn-default img-btn"><span class="clearfix img-label"><input autocomplete="off" class="pull-left img-options" id="itemA" name="choice" required="" type="radio" value="optionA" /> <span><strong>&nbsp;&nbsp; Option A </strong> </span> </span> </label>

<div class="well">${s1}</div>
</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12"><label class="btn btn-default img-btn"><span class="clearfix img-label"><input autocomplete="off" class="pull-left img-options" id="itemB" name="choice" required="" type="radio" value="optionB" /> <span><strong>&nbsp;&nbsp; Option B </strong></span> </span> </label>

<div class="well">${s2}</div>
</div>
</div>
<!-- End Image Moderation Layout --><!-- Open internal style sheet -->
<style type="text/css">.thumbnail label{ 
  display: block; 
  position: relative;
  border-radius:2px;
}
.thumbnail label:hover {
  cursor: pointer;
}
.thumbnail:hover{
    border: 1px solid #337ab7;
}
.thumbnail img{
    height:180px;
}
.thumbnail input{
  display: block;
  position: absolute;
  top:0;
  left:0;
}
#checkbox_none{
  display: inline-block;
  top:3px;
}
#label_none{
  margin: 0;
  padding: 5px 10px;
}
#label_none span{
  margin-left: 15px;
}
#submitButton{
  white-space: normal;
}
#collapseTrigger{
  color:#fff;
  display: block;
  text-decoration: none;
}
.selected{
  background: #dff0d8;
}
</style>
<!-- close internal style sheet --><!-- Please note that Bootstrap CSS/JS and JQuery are 3rd party libraries that may update their url/code at any time. Amazon Mechanical Turk (MTurk) is including these libraries as a default option for you, but is not responsible for any changes to the external libraries --><script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4" crossorigin="anonymous"></script><script>
  $(document).ready(function() {
    // Instructions expand/collapse
    var content = $('#instructionBody');
    var trigger = $('#collapseTrigger');
    content.hide();
    $('.collapse-text').text('(Click to expand)');
    trigger.click(function(){
      content.toggle();
      var isVisible = content.is(':visible');
      if(isVisible){
        $('.collapse-text').text('(Click to collapse)');
      }else{
        $('.collapse-text').text('(Click to expand)');
      }
    });
    // end expand/collapse

    // The "None of the Above" checkbox selector
    var checkAllCheckboxSelector = 'input:checkbox.moderationImageCheckAll';
    // When any checkbox, excluding the "None of the Above" checkbox, is
    // checked, uncheck the "None of the Above" checkbox
    $('input:checkbox').not(checkAllCheckboxSelector).change(function(){
      if($(this).is(':checked')) {
        $(checkAllCheckboxSelector).prop('checked', false);
        $(checkAllCheckboxSelector).parents('.thumbnail').removeClass('selected');
        $(this).parents('.thumbnail').addClass('selected');
      }else{
        $(this).parents('.thumbnail').removeClass('selected');
      }
    });

    // When the "None of the Above" checkbox is checked, uncheck all other
    // checkboxes.
    $(checkAllCheckboxSelector).change(function(){
      var $this = $(this);
      if($this.is(':checked')) {
        $('input:checkbox:checked').not($this).prop('checked', false);
        $('.thumbnail').removeClass('selected');
        $this.parents('.thumbnail').addClass('selected');
      }
      else{
        $this.parents('.thumbnail').removeClass('selected');
      }
    });

  });
</script></section>
