<!-- HIT template: ModerationOfAnImage-v3.0 --><!-- Bootstrap v3.0.3 --><!-- Please note that Bootstrap CSS/JS and JQuery are 3rd party libraries that may update their url/code at any time. Amazon Mechanical Turk (MTurk) is including these libraries as a default option for you, but is not responsible for any changes to the external libraries -->
<meta charset="UTF-8">
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" rel="stylesheet" /><!-- The following snippet enables the 'responsive' behavior on smaller screens -->
<meta content="width=device-width,initial-scale=1" name="viewport" />
<section class="container" id="ModerationOfAnImage">
<div class="row">
<div class="col-xs-12 col-md-12"><!-- Instructions -->
<div class="panel panel-primary"><!-- WARNING: the ids "collapseTrigger" and "instructionBody" are being used to enable expand/collapse feature --><a class="panel-heading" href="javascript:void(0);" id="collapseTrigger"><span class="collapse-text"><b>Choose the better sentence&nbsp;</b>(Click to expand)</span> </a>
<div class="panel-body" id="instructionBody">
<p>Instructions:</p>
For each question, do the following.
<ol>
	<li>Read the claim.</li>
	<li>Read option the 4 options.</li>
	<li>Make sure you understand all five sentences (the claim and the options).</li>
	<li>Choose which of options provide the most evidence to the claim.</li>
	<li>
	<p>If it is too hard for you to be sure, still make your best guess.</p>
	</li>
</ol>

<p>Guidelines for selecting a sentence that provides evidence, in order of priority:</p>

<ol>
	<li>A sentence that directly refers to what is being claimed or a quote.</li>
	<li>A sentence that provides evidence for part of the claim.</li>
	<li>A sentence that talks about the same topic.</li>
	<li>A sentence that has similar elements, that are related to the topic of the claim sentence.</li>
</ol>

<p>We expect this to take around 5-10 minutes. We are checking to make sure that results are correct; please take the time you need to answer the best you can.</p>

</div>
</div>
</div>
<!-- End Instructions --></div>
<!-- Image Moderation Layout -->
<!-- 1 -->
<div class="panel panel-default">
<div class="panel-body">
  <label>
      <div class="well">
        <h5>1. Claim:</h5>
        <p>${c_0}</p>
      </div>
  </label>
  <div class="radio">
    <label><input name="e_0" required="" type="radio" value=0 />
      <div class="well">
        <p>${e_0_0}</p>
      </div>
    </label>
  </div>
  <div class="radio">
    <label><input name="e_0" required="" type="radio" value=1 />
      <div class="well">
        <p>${e_0_1}</p>
      </div>
    </label>
  </div>
  <div class="radio">
    <label><input name="e_0" required="" type="radio" value=2 />
      <div class="well">
        <p>${e_0_2}</p>
      </div>
    </label>
  </div>
  <div class="radio">
    <label><input name="e_0" required="" type="radio" value=3 />
      <div class="well">
        <p>${e_0_3}</p>
      </div>
    </label>
  </div>
</div>
</div>
<!-- 2 -->
<div class="panel panel-default">
  <div class="panel-body">
    <label>
        <div class="well">
          <h5>2. Claim:</h5>
          <p>${c_1}</p>
        </div>
    </label>
    <div class="radio">
      <label><input name="e_1" required="" type="radio" value=0 />
        <div class="well">
          <p>${e_1_0}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_1" required="" type="radio" value=1 />
        <div class="well">
          <p>${e_1_1}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_1" required="" type="radio" value=2 />
        <div class="well">
          <p>${e_1_2}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_1" required="" type="radio" value=3 />
        <div class="well">
          <p>${e_1_3}</p>
        </div>
      </label>
    </div>
  </div>
</div>
<!-- 3 -->
<div class="panel panel-default">
  <div class="panel-body">
    <label>
        <div class="well">
          <h5>3. Claim:</h5>
          <p>${c_2}</p>
        </div>
    </label>
    <div class="radio">
      <label><input name="e_2" required="" type="radio" value=0 />
        <div class="well">
          <p>${e_2_0}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_2" required="" type="radio" value=1 />
        <div class="well">
          <p>${e_2_1}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_2" required="" type="radio" value=2 />
        <div class="well">
          <p>${e_2_2}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_2" required="" type="radio" value=3 />
        <div class="well">
          <p>${e_2_3}</p>
        </div>
      </label>
    </div>
  </div>
</div>
<!-- 4 -->
<div class="panel panel-default">
  <div class="panel-body">
    <label>
        <div class="well">
          <h5>4. Claim:</h5>
          <p>${c_3}</p>
        </div>
    </label>
    <div class="radio">
      <label><input name="e_3" required="" type="radio" value=0 />
        <div class="well">
          <p>${e_3_0}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_3" required="" type="radio" value=1 />
        <div class="well">
          <p>${e_3_1}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_3" required="" type="radio" value=2 />
        <div class="well">
          <p>${e_3_2}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_3" required="" type="radio" value=3 />
        <div class="well">
          <p>${e_3_3}</p>
        </div>
      </label>
    </div>
  </div>
</div>
<!-- 5 -->
<div class="panel panel-default">
  <div class="panel-body">
    <label>
        <div class="well">
          <h5>5. Claim:</h5>
          <p>${c_4}</p>
        </div>
    </label>
    <div class="radio">
      <label><input name="e_4" required="" type="radio" value=0 />
        <div class="well">
          <p>${e_4_0}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_4" required="" type="radio" value=1 />
        <div class="well">
          <p>${e_4_1}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_4" required="" type="radio" value=2 />
        <div class="well">
          <p>${e_4_2}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_4" required="" type="radio" value=3 />
        <div class="well">
          <p>${e_4_3}</p>
        </div>
      </label>
    </div>
  </div>
</div>
<!-- 6 -->
<div class="panel panel-default">
  <div class="panel-body">
    <label>
        <div class="well">
          <h5>6. Claim:</h5>
          <p>${c_5}</p>
        </div>
    </label>
    <div class="radio">
      <label><input name="e_5" required="" type="radio" value=0 />
        <div class="well">
          <p>${e_5_0}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_5" required="" type="radio" value=1 />
        <div class="well">
          <p>${e_5_1}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_5" required="" type="radio" value=2 />
        <div class="well">
          <p>${e_5_2}</p>
        </div>
      </label>
    </div>
    <div class="radio">
      <label><input name="e_5" required="" type="radio" value=3 />
        <div class="well">
          <p>${e_5_3}</p>
        </div>
      </label>
    </div>
  </div>
  </div>
  <!-- 7 -->
  <div class="panel panel-default">
    <div class="panel-body">
      <label>
          <div class="well">
            <h5>7. Claim:</h5>
            <p>${c_6}</p>
          </div>
      </label>
      <div class="radio">
        <label><input name="e_6" required="" type="radio" value=0 />
          <div class="well">
            <p>${e_6_0}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_6" required="" type="radio" value=1 />
          <div class="well">
            <p>${e_6_1}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_6" required="" type="radio" value=2 />
          <div class="well">
            <p>${e_6_2}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_6" required="" type="radio" value=3 />
          <div class="well">
            <p>${e_6_3}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <!-- 8 -->
  <div class="panel panel-default">
    <div class="panel-body">
      <label>
          <div class="well">
            <h5>8. Claim:</h5>
            <p>${c_7}</p>
          </div>
      </label>
      <div class="radio">
        <label><input name="e_7" required="" type="radio" value=0 />
          <div class="well">
            <p>${e_7_0}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_7" required="" type="radio" value=1 />
          <div class="well">
            <p>${e_7_1}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_7" required="" type="radio" value=2 />
          <div class="well">
            <p>${e_7_2}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_7" required="" type="radio" value=3 />
          <div class="well">
            <p>${e_7_3}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <!-- 9 -->
  <div class="panel panel-default">
    <div class="panel-body">
      <label>
          <div class="well">
            <h5>9. Claim:</h5>
            <p>${c_8}</p>
          </div>
      </label>
      <div class="radio">
        <label><input name="e_8" required="" type="radio" value=0 />
          <div class="well">
            <p>${e_8_0}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_8" required="" type="radio" value=1 />
          <div class="well">
            <p>${e_8_1}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_8" required="" type="radio" value=2 />
          <div class="well">
            <p>${e_8_2}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_8" required="" type="radio" value=3 />
          <div class="well">
            <p>${e_8_3}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <!-- 10 -->
  <div class="panel panel-default">
    <div class="panel-body">
      <label>
          <div class="well">
            <h5>10. Claim:</h5>
            <p>${c_9}</p>
          </div>
      </label>
      <div class="radio">
        <label><input name="e_9" required="" type="radio" value=0 />
          <div class="well">
            <p>${e_9_0}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_9" required="" type="radio" value=1 />
          <div class="well">
            <p>${e_9_1}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_9" required="" type="radio" value=2 />
          <div class="well">
            <p>${e_9_2}</p>
          </div>
        </label>
      </div>
      <div class="radio">
        <label><input name="e_9" required="" type="radio" value=3 />
          <div class="well">
            <p>${e_9_3}</p>
          </div>
        </label>
      </div>
    </div>
  </div>



<!-- End Image Moderation Layout --><!-- Open internal style sheet -->
<style type="text/css">.thumbnail label{ 
  display: block; 
  position: relative;
  border-radius:2px;
}
.thumbnail label:hover {
  cursor: pointer;
}
.thumbnail:hover{
    border: 1px solid #337ab7;
}
.thumbnail img{
    height:180px;
}
.thumbnail input{
  display: block;
  position: absolute;
  top:0;
  left:0;
}
#checkbox_none{
  display: inline-block;
  top:3px;
}
#label_none{
  margin: 0;
  padding: 5px 10px;
}
#label_none span{
  margin-left: 15px;
}
#submitButton{
  white-space: normal;
}
#collapseTrigger{
  color:#fff;
  display: block;
  text-decoration: none;
}
.selected{
  background: #dff0d8;
}
</style>
<!-- close internal style sheet --><!-- Please note that Bootstrap CSS/JS and JQuery are 3rd party libraries that may update their url/code at any time. Amazon Mechanical Turk (MTurk) is including these libraries as a default option for you, but is not responsible for any changes to the external libraries --><script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4" crossorigin="anonymous"></script><script>
  $(document).ready(function() {
    // Instructions expand/collapse
    var content = $('#instructionBody');
    var trigger = $('#collapseTrigger');
    content.hide();
    $('.collapse-text').text('(Click to expand)');
    trigger.click(function(){
      content.toggle();
      var isVisible = content.is(':visible');
      if(isVisible){
        $('.collapse-text').text('(Click to collapse)');
      }else{
        $('.collapse-text').text('(Click to expand)');
      }
    });
    // end expand/collapse

    // The "None of the Above" checkbox selector
    var checkAllCheckboxSelector = 'input:checkbox.moderationImageCheckAll';
    // When any checkbox, excluding the "None of the Above" checkbox, is
    // checked, uncheck the "None of the Above" checkbox
    $('input:checkbox').not(checkAllCheckboxSelector).change(function(){
      if($(this).is(':checked')) {
        $(checkAllCheckboxSelector).prop('checked', false);
        $(checkAllCheckboxSelector).parents('.thumbnail').removeClass('selected');
        $(this).parents('.thumbnail').addClass('selected');
      }else{
        $(this).parents('.thumbnail').removeClass('selected');
      }
    });

    // When the "None of the Above" checkbox is checked, uncheck all other
    // checkboxes.
    $(checkAllCheckboxSelector).change(function(){
      var $this = $(this);
      if($this.is(':checked')) {
        $('input:checkbox:checked').not($this).prop('checked', false);
        $('.thumbnail').removeClass('selected');
        $this.parents('.thumbnail').addClass('selected');
      }
      else{
        $this.parents('.thumbnail').removeClass('selected');
      }
    });

  });
</script></section>
